@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Hahmlet:wght@200&family=Nanum+Myeongjo:wght@700&display=swap");

 body {
  font-family: "Comforter", cursive;
  font-family: 'Nanum Myeongjo', serif;

  background: #eed7bf;
  text-align: center;
  align-items: center;
  font-size: 16px;
  box-sizing: border-box;
}



header h1 {
  font-size: 4rem;
  margin: 30px;
}

a {
  text-decoration: none;
  color: black;
}

footer a {
  font-size: 2rem;
  margin: 2rem;
  display: inline-block;

  background-color: rgba(236, 181, 114, 0.466);

}

header,
footer {
  display: inline-block;
  margin: 2rem;
  width: 80%;
  text-align: center;
  border: 2px solid rgb(83, 66, 44);

}

header h1 {
  text-align: center;
}

header .en {
  font-family: "Comforter", cursive;
}

header .ko {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2rem;
  margin-top: 0px;
}

table {
  margin-top: 2rem;
  width: 95%;
  border: 1px solid #444444;
  margin: 1rem;
}

th,
td {
  border: 1px solid #444444;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

legend {
  font-size: 1.5rem;
}



.input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid peru;

  width: 70px;
  height: 50px;
  font-size: 2rem;
  margin-left: 1rem;
  text-align: center;
  margin-top: 3rem;
}

.wrapper {
  margin: auto;
  width: 80%;

  border-radius: 2em;
  border: 2px solid rgb(83, 66, 44);

}

.item {
  text-align: center;
  margin: 1%;
  padding-top: 1rem;
  width: auto;
  border-radius: 1em;
  border: 1px dotted rgb(83, 66, 44);
  float: both;
}

.item:hover {
  background-color: rgba(150, 82, 5, 0.123);
  transition: all 0.1s;
  box-shadow: 1px 1px rgba(44, 41, 41, 0.753);
}

#brewing h1 {
  font-size: 24px;
  margin-bottom: 20px;

  background-color: lightsalmon;
  width: 10rem;
  margin: auto;
}

#cups {
  height: 140px;
}

button {
  margin: 2rem;
}


#roastingcolor1 {
  content: url(../images/ll.png);
}

#roastingcolor2 {
  content: url(../images/mm.png);
}

#roastingcolor3 {
  content: url(../images/dd.png);
}


#brewer3 {
  content: url(../images/hario.png);
}

#brewer1 {
  content: url(../images/kono.png);
}

#brewer2 {
  content: url(../images/aeropress.png);
}



#grind1 {
  content: url(../images/ff.png);
}

#grind2 {
  content: url(../images/m-r.png);
}

#grind3 {
  content: url(../images/cc.png);
}

.brewer,
.roastingcolor,
.grind {
  width: 140px;
  margin: 10px;
}

#finish {
  padding: 1rem;
  margin: 2rem;
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"]+label {
  cursor: pointer;
}

[type="radio"]:checked+label {
  outline: 5px solid rgb(87, 56, 20);
}

.grind-size {
  width: 100px;
  margin: 10px;
}


/* 
footer {
margin: auto;
padding: 30px;
width: 80%;
border-radius: 2px;
border: 2px solid brown;
} */
/* Mobile First CSS */ /* default - 가로 해상도가 768px 이하*/ 


@media screen and (min-width: 1303px) { 
  .wrapper:after {
    content: '';
    display: block;
    clear: both;
  }
  
  
  #brewer, #grind, #roasting, #cups {
    width: 47%;
    height: 242px;
    display: inline-block;
    float: none;
  }


  #brewing {

    float: both;
    clear: none;

    width: 97%;

    border: 4px solid rgb(250, 135, 58) ;
    
  }
} 

/* Desktop */
@media screen and (min-width: 64em) {
}